.car-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  background-image: url("../../../public/garage3.jpg");
  background-size: cover; /* Ensures the image covers the screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed */
}

.search-bar {
  margin: 20px 0;
  text-align: center;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 0px solid #cccccca5;
  border-radius: 25px;
  background-color: #fffafad4;
}

.welcome-message {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fffafa;
}

.car-list-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #d6c3c3;
}

.car-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.car-item {
  background: #ffffffcd;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-title {
  font-size: 1.2rem;
  margin: 0 0 10px;
  color: #333;
}

.car-description {
  font-size: 1rem;
  margin: 0 0 15px;
  color: #666;
}

.car-actions {
  display: flex;
  justify-content: space-between;
}

.car-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.car-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.car-button.delete-button {
  background: #ff4d4d;
  color: #fff;
}

.car-button:hover {
  opacity: 0.9;
}

.no-cars-message {
  font-size: 1.2rem;
  color: #999;
}
